@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// Varialbles
$primary: #558fee;
$secondary: #00d5e4;
$black: #2f2f2f;
$white: #ffffff;
$dark: #16171c;
$red: #ff2553;
// #Varialbles

// Bootstrap Override Color
$custom-colors: (
        "primary": #558fee,
        "seconday": #00d5e4,
        "black": #2f2f2f,
        "white": #ffffff,
        "dark": #16171c,
        "red": #ff2553,
);

$theme-colors: map-merge($theme-colors, $custom-colors);
